.Footer-Container {
  background-color: #0a5230;
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 4px;
  padding: 2.5vh;
  text-align: center;
}

.flaticons {
  font-size: 14px !important;
  text-decoration: underline !important;
  text-shadow: none !important;
}
