.Projects-Area {
  align-items: center;
  background-color: #0a5230;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 22px;
}

.Projects-Container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.Image-Container {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 235px;
  overflow: hidden;
}

.Project {
  background-color: #08190c;
  border-radius: 6px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 570px;
  width: 370px;
}

.project__img { width: 100%; }

.Project-Info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 220px;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;
}

.Project-Info p { height: 30px; }

.Project-Info h2 { font-size: 2rem; }

.Project-Info a {
  font-size: 1.4rem;
  padding: 8px 0 !important;
}

.Tools-Container {
  display: flex;
  flex-flow: row wrap;
  gap: 6px;
}

.Tool {
  background-color: #0a5230;
  border-radius: 6px;
  color: white;
  cursor: default;
  display: flex;
  height: 24px;
  padding: 6px;
}

.Tool p {
  margin-left: 6px;
  height: fit-content !important;
}

.Project-Link {
  display: flex;
  font-size: 1.4rem;
  height: 38px;
  text-align: left;
}

.Project-Link a {
  border-radius: 0;
  background-color: #08190c;
  text-align: center;
  text-shadow: none;
  padding: 10px;
  transition: 0.3s;
  width: 100%;
}

.Project-Link a:hover {
  filter: brightness(60%);
  transition: 0.3s;
}

.deploy-link { border-bottom-left-radius: 4px !important; }
.repo-link { border-bottom-right-radius: 4px !important; }

@media screen and ( max-width : 600px ) {

  .Projects-area {
    height: auto;
    padding: 12px;
  }

  .Project {
    width: 300px;
  }

  .Project-Info a {
    font-size: 1.4rem;
  }

  .project__img {
    height: 180px;
  }
}
